<button class="btn rounded-pill fw-medium btn-subscribe"
        [class.subscribed]="isSubscribed"
        [class.w-100]="fullWidth"
        (click)="toggleSubscribe($event)"
        [disabled]="loading"
        [attr.data-unfollow-text]="'unfollow' | t">
  <span class="btn-subscribe-label d-flex align-items-center justify-content-center gap-1">
    @if (loading) {
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    }
    @if (isSubscribed) {
      <span class="btn-text">{{ 'following' | t }}</span>
    } @else {
      <span class="btn-text">{{ 'follow' | t }}</span>
    }
  </span>
</button>
